*{
    font-family: Arial, Helvetica, sans-serif;
    
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: fixed;
  font-style: italic;
  top: 0;
  background: none;
  color: black;
  width: 100%;
  padding:18px 22px;
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar .logo img{
    max-width:100%;
    width:80px;
  }

  .navbar .logo a {
    padding:10px;
    color:white;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, "Arial Narrow Bold', sans-serif", cursive;
  }

  .location a {
    text-decoration:none;
    padding: 8px 10px;
    background-color: #333;
    border-radius: 16px;
    color:white;
}

.location a:hover{
    background-color: gold;
}

  /*Dropdown menu*/
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: gold;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*Travel and Destination page*/

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;} 

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }

/*Footer*/
footer{
  background-color:#333;
  overflow:hidden;
  font-size: 16px;
  padding:10px;
  color:white;
  text-align:center;
  }
  